extends ../includes/admin_layout
block rightSidebar
    .col-md-8.offset-md-2
        form.form-signin(action="#{base_url}auth/CheckLogin.html",method="post")
            h1.h3.mb-3.font-weight-normal Please sign in
            .form-group       
                label.sr-only(for='inputUsername') Username
                input#inputEmail.form-control(type='text',name="username", placeholder='Username', required='', autofocus='')
            .form-group       
                label.sr-only(for='inputPassword') Password
                input#inputPassword.form-control(type='password',name="password" placeholder='Password', required='')
            .form-group       
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
