doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
   body
    ul
     li
       a.navLink(href="/") Add New User
       a.navLink(href="/listofusers") All Users List
    block content
